*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
   display: flex;
   justify-content: space-around;
   width: 100%;
   height: 150px;
   align-items: center;
   background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(249,14,228,1) 35%, rgba(0,212,255,1) 100%);

}
.Nayara {
    width: 150px;
    height: 130px;
    border-radius: 50%;
}
.comeco{
    border-radius: 10px;
    width: 300px;
    height: 100px;
    color: white;
}
